*.py[co]
*~
*.egg-info/
build/
dist/

GTAGS
GRTAGS
GPATH
GSYMS
*.log
.venv/
.tox/
.coverage
covhtml/
coverage.xml
nosetests.xml

# Virtual environments
venv/
ryu/ai_forecasting/venv/
 # Python cache
__pycache__/
*.pyc